NOTION_TOKEN=your_notion_integration_token
NOTION_DB_VENTAS=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PORT=3000
FRONTEND_URL=http://localhost:5173
NOTION_DB_CLIENTES=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
NOTION_DB_INVENTARIO=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
